/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.9em;
}

html p, body p {
    line-height: 1;
}

#popup {
    min-width: 500px;
    width: 500px;
    min-height: 550px;
    height: 550px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.negrita {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.black {
    color: #000000;
}

.enlace {
    cursor: pointer;
    color: #304FFE;
    display: inline-block;
    margin-top: 5px;
}

.ptop10 {
    padding-top: 10px;
}

.lrpad10 {
    padding-left: 10px;
    padding-right: 10px;
}

.fixed {
    position: fixed;
}

.fixed.bottom-right {
    right: 0;
    bottom: 0;
}

.transparent {
    background-color: transparent !important;
}

.footer-spacing {
    margin-bottom: 100px;
}

.header-spacing {
    padding-top: 66px;
}

.overflowed-list {
    overflow: hidden;
    overflow-y: scroll;
    height: 532px;
    position: relative;
}

.md-subheader.md-primary.custom {
    background-color: #7986CB;
    color: #FFFFFF;
    margin-right: 2px;
    font-weight: bold;
    font-size: 1.3em;
}

.md-subheader.md-primary.custom.md-sticky-clone {
    top: 68px !important;
    width: 477px !important;
}

.md-subheader:not(.md-sticky-no-effect):after {
    right: 0 !important;
}

#pestanas md-list-item {
    background-color: #F5F5F5;
}

#pestanas md-list-item:hover {
    cursor: pointer;
    background-color: #E8EAF6;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

md-toolbar.custom {
    width: 477px;
}

md-progress-circular.center {
    margin: 30px auto;
}

.destacado {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #BC9EFF;
}

.destacado.center {
    justify-content: center;
}

.destacado h3 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

md-card-content p {
    margin: 0;
}

.metainfo {
    margin-left: 1em;
    margin-right: 1em;
}

.metainfo p {
    margin-left: 1.5em;
}

.md-tile-content {
    padding: 8px;
}

md-card md-card-content {
    padding: 10px;
}

md-switch .md-label {
    user-select: none;
    -webkit-user-select: none;
}

md-switch:focus .md-label:not(:empty) {
    border-style: none !important;
}

.serie-enabled {
    height: 30px;
    padding-left: 20px;
    background-color: #A5D6A7;
}

.serie-disabled {
    height: 30px;
    padding-left: 20px;
    background-color: #EF9A9A;
}

md-dialog p {
    line-height: 1.5;
    text-align: justify;
}

.md-button.minimal {
    padding: 0;
    margin: 0;
    line-height: 30px;
    min-height: 30px;
    font-weight: bold;
}

.md-button.no-min-width {
    min-width: initial;
}

md-backdrop.md-opaque.md-default-theme, .md-dialog-container {
    position: fixed;
}

#popup md-toolbar.botonera {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    background-color: rgba(63, 81, 181, 0.2);
}

#popup md-toolbar.botonera div.blanco {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}

.last-check {
    padding: 4px 20px;
    background: #FFFFFF;
    font-size: 0.8em;
}

#main md-card-content {
    padding: 0 10px;
}

#main md-card h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.iconC {
    margin-top: 7px;
    padding-right: 5px;
}

.small-buttons button {
    font-size: 12px;
    margin-bottom: 0;
}

