<div layout="column" layout-fill>

    <md-toolbar class="fixed custom">
        <div layout="row">
            <md-button ng-click="goto('main')" aria-label="" class="no-min-width">
                <md-icon md-svg-icon="images/ic_navigate_before_white_24px.svg"></md-icon>
            </md-button>
            <h2 class="md-toolbar-tools">
                <span class="negrita">Añadir serie</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="overflowed-list header-spacing">
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
            <md-progress-circular class="md-primary center" md-mode="indeterminate"></md-progress-circular>
        </div>

        <section ng-repeat="category in categories | filter:{title:'Series'}" ng-hide="loading">
            <md-subheader class="md-primary custom">{{category.title}}</md-subheader>
            <md-list layout="column">
                <md-item ng-repeat="element in category.elements"
                         ng-class="claseHover"
                         ng-mouseenter="claseHover='item-hover'"
                         ng-mouseleave="claseHover='item-no-hover'"
                         ng-init="claseHover='item-no-hover'"
                         ng-click="goto('chapters', element.url, element.name, category.title, 'series')">
                    <md-item-content>
                        <div class="md-tile-left">

                        </div>
                        <div class="md-tile-content">
                            <h3>{{element.name}}</h3>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </section>
    </md-content>

</div>