<div layout="column" layout-fill>

    <md-toolbar class="fixed custom">
        <div layout="row">
            <md-button ng-click="goto('main')" aria-label="" class="no-min-width">
                <md-icon md-svg-icon="images/ic_navigate_before_white_24px.svg"></md-icon>
            </md-button>
            <h2 class="md-toolbar-tools">
                <span class="negrita">Añadir serie</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="overflowed-list header-spacing">
        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
            <md-progress-circular class="md-primary center" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div class="contenedor" ng-hide="loading">
            <p>Introduce el enlace de la serie desde un episodio de la misma o desde la página de todos los
                capítulos:</p>

            <form name="serieSearch">
                <md-input-container flex>
                    <label>URL de la serie</label>
                    <input type="url" name="serieUrl" ng-model="serieUrlForm" required>
                    <span class="error"
                          ng-show="serieSearch.serieUrl.$error.required">Introduce la url de la serie.</span>
                    <span class="error"
                          ng-show="serieSearch.serieUrl.$error.url">Debe ser una url</span>
                    <span class="error" ng-show="errorUrl != ''">{{errorUrl}}</span>
                </md-input-container>
                <md-button ng-disabled="!serieSearch.$valid"
                           ng-click="searchSerie({serieUrl:serieUrlForm})"
                           aria-label=""
                           class="md-primary">
                    Buscar serie
                </md-button>
            </form>
        </div>

        <!--<section ng-repeat="category in categories | filter:{title:'Series'}" ng-hide="loading">
            <md-subheader class="md-primary custom">{{category.title}}</md-subheader>
            <md-list layout="column">
                <md-item ng-repeat="element in category.elements"

                         ng-click="goto('chapters', element.url, element.name, category.title, 'series')">
                    <md-item-content>
                        <div class="md-tile-left">

                        </div>
                        <div class="md-tile-content">
                            <h3>{{element.name}}</h3>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </section>-->

        <!--<md-tabs id="pestanas" class="md-hue-3" ng-hide="loading">
            <md-tab>
                <md-tab-label>Servidor T</md-tab-label>
                <md-tab-body>
                    <md-tabs>
                        <md-tab>
                            <md-tab-label>Series SD</md-tab-label>
                            <md-tab-body>
                                <md-list-item ng-repeat="serie in servers[0].sd | orderBy: 'name'"
                                              ng-click="goto('chapters', serie.id, serie.name, 'SD', 'T')">
                                    <p> {{ serie.name }}</p>
                                </md-list-item>
                                <md-list-item ng-show="error500" class="md-warn">
                                    <p>Error cargando la lista de series</p>
                                </md-list-item>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>Series HD</md-tab-label>
                            <md-tab-body>
                                <md-list-item ng-repeat="serie in servers[0].hd | orderBy: 'name'" ng-hide="error500"
                                              ng-click="goto('chapters', serie.id, serie.name, 'HD', 'T')">
                                    <p> {{ serie.name }}</p>
                                </md-list-item>
                                <md-list-item ng-show="error500" class="md-warn">
                                    <p>Error cargando la lista de series</p>
                                </md-list-item>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>Series VO</md-tab-label>
                            <md-tab-body>
                                <md-list-item ng-repeat="serie in servers[0].vo | orderBy: 'name'" ng-hide="error500"
                                              ng-click="goto('chapters', serie.id, serie.name, 'V.O.', 'T')">
                                    <p> {{ serie.name }}</p>
                                </md-list-item>
                                <md-list-item ng-show="error500" class="md-warn">
                                    <p>Error cargando la lista de series</p>
                                </md-list-item>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>Servidor N</md-tab-label>
                <md-tab-body>
                    <md-tabs>
                        <md-tab>
                            <md-tab-label>N Original</md-tab-label>
                            <md-tab-body>
                                <div class="contenedor">
                                    <p>Introduce el enlace de la serie **, desde la página de todos los capítulos:</p>

                                    <p class="italic">
                                        (http://www.nnnnnn.com/todos-los-capitulos/series/nombre-de-la-serie/)</p>

                                    <p>o desde la de un capítulo</p>

                                    <p class="italic">
                                        (http://www.nnnnnn.com/descargar-serie/nombre-de-la-serie/capitulo...):</p>

                                    <form name="serieSearch">
                                        <md-input-container flex>
                                            <label>URL de la serie</label>
                                            <input type="url" name="serieUrl" ng-model="serieUrl" required>
                                            <span class="error" ng-show="serieSearch.serieUrl.$error.required">Introduce la url de la serie. Asegurate que termina en /</span>
                                        <span class="error"
                                              ng-show="serieSearch.serieUrl.$error.url">Debe ser una url</span>
                                            <span class="error" ng-show="errorUrl != ''">{{errorUrl}}</span>
                                        </md-input-container>
                                        <md-button ng-disabled="!serieSearch.$valid"
                                                   ng-click="searchSerie({serieUrl:serieUrl})"
                                                   aria-label=""
                                                   class="md-primary">
                                            Buscar serie
                                        </md-button>
                                    </form>

                                    <p class="negrita">** Sólo versión normal, no HD ni V.O.</p>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>N1 Nuevo</md-tab-label>
                            <md-tab-body>
                                <div class="contenedor">
                                    <p>Introduce el enlace de la serie **, desde la página de todos los capítulos</p>

                                    <p class="italic">(http://www.nnnnnn1.com/series/nombre-de-la-serie/):</p>

                                    <form name="serieSearch">
                                        <md-input-container flex>
                                            <label>URL de la serie</label>
                                            <input type="url" name="serieUrl" ng-model="serieUrl" required>
                                            <span class="error"
                                                  ng-show="serieSearch.serieUrl.$error.required">Introduce la url de la serie. Asegurate que termina en /</span>
                                        <span class="error"
                                              ng-show="serieSearch.serieUrl.$error.url">Debe ser una url</span>
                                            <span class="error" ng-show="errorUrl != ''">{{errorUrl}}</span>
                                        </md-input-container>
                                        <md-button ng-disabled="!serieSearch.$valid"
                                                   ng-click="searchSerie({serieUrl:serieUrl})"
                                                   aria-label=""
                                                   class="md-primary center">
                                            Buscar serie
                                        </md-button>
                                    </form>

                                    <p class="negrita">** Sólo versión normal, no HD ni V.O.</p>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-tab-body>
            </md-tab>-->

        <!--<md-tab>
            <md-tab-label>Servidor N</md-tab-label>
            <md-tab-body>
                <md-tabs>
                    <md-tab>
                        <md-tab-label>Series SD</md-tab-label>
                        <md-tab-body>
                            <md-list-item ng-repeat="serie in servers[1].sd | orderBy: 'name'"
                                          ng-click="goto('chapters', serie.id, serie.name, 'SD', 'N')">
                                <p> {{ serie.name }}</p>
                            </md-list-item>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>Series HD</md-tab-label>
                        <md-tab-body>
                            <md-list-item ng-repeat="serie in servers[1].hd | orderBy: 'name'"
                                          ng-click="goto('chapters', serie.id, serie.name, 'HD', 'N')">
                                <p> {{ serie.name }}</p>
                            </md-list-item>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>Series VO</md-tab-label>
                        <md-tab-body>
                            <md-list-item ng-repeat="serie in servers[1].vo | orderBy: 'name'"
                                          ng-click="goto('chapters', serie.id, serie.name, 'V.O.', 'N')">
                                <p> {{ serie.name }}</p>
                            </md-list-item>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-tab-body>
        </md-tab>-->
        <!--</md-tabs>-->
    </md-content>

</div>
